* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}


body {
    background: #070707;
    color: white;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    overflow-x: hidden;
}


.background-grid {

    position: fixed;

    inset: 0;

    background-image:
        linear-gradient(#ffffff05 1px, transparent 1px),
        linear-gradient(90deg, #ffffff05 1px, transparent 1px);

    background-size: 50px 50px;

    mask-image:
        linear-gradient(
            to bottom,
            black,
            transparent
        );

    pointer-events: none;

    z-index: -2;
}


body::before {

    content: "";

    position: fixed;

    width: 500px;
    height: 500px;

    background: #ff9d00;

    opacity: .035;

    filter: blur(150px);

    top: -200px;
    left: 30%;

    pointer-events: none;

    z-index: -1;
}



/* HEADER */

header {

    height: 72px;

    padding: 0 6%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    position: sticky;

    top: 0;

    z-index: 100;

    background: #080808e8;

    backdrop-filter: blur(15px);

    border-bottom: 1px solid #222;
}


.logo {

    color: white;

    text-decoration: none;

    font-size: 20px;

    font-weight: 900;
}


.logo span {
    color: #ff9d00;
}


nav {

    display: flex;

    gap: 25px;
}


nav a {

    color: #888;

    text-decoration: none;

    font-size: 12px;

    font-weight: bold;

    transition: .2s;
}


nav a:hover {
    color: white;
}


.header-button {

    padding: 10px 15px;

    border-radius: 8px;

    background: #ff9d00;

    color: #111;

    text-decoration: none;

    font-size: 11px;

    font-weight: 900;
}



/* HERO */

.hero {

    max-width: 1250px;

    min-height: 650px;

    margin: auto;

    padding: 100px 6%;

    display: grid;

    grid-template-columns:
        1.1fr
        .9fr;

    gap: 80px;

    align-items: center;
}


.status {

    display: inline-flex;

    align-items: center;

    gap: 8px;

    padding: 8px 12px;

    border-radius: 50px;

    border: 1px solid #3b2b15;

    background: #151008;

    color: #ffb52d;

    font-size: 10px;

    font-weight: 900;
}


.online-dot {

    width: 7px;

    height: 7px;

    background: #5cff83;

    border-radius: 50%;

    box-shadow: 0 0 10px #5cff83;
}


.hero h1 {

    font-size:
        clamp(
            55px,
            8vw,
            100px
        );

    line-height: .9;

    letter-spacing: -6px;

    margin: 25px 0;
}


.hero h1 span {
    color: #ff9d00;
}


.hero p {

    max-width: 600px;

    color: #888;

    font-size: 17px;

    line-height: 1.7;
}


.hero-buttons {

    display: flex;

    gap: 12px;

    margin-top: 30px;
}


.main-button,
.dark-button {

    padding: 14px 20px;

    border-radius: 10px;

    text-decoration: none;

    font-size: 12px;

    font-weight: 900;

    transition: .2s;
}


.main-button {

    background: #ff9d00;

    color: #111;
}


.main-button:hover {

    transform: translateY(-3px);

    box-shadow:
        0 10px 30px #ff9d0030;
}


.main-button span {
    margin-left: 10px;
}


.dark-button {

    background: #111;

    border: 1px solid #333;

    color: white;
}


.dark-button:hover {
    border-color: #666;
}



/* HERO STATS */

.hero-stats {

    display: flex;

    gap: 45px;

    margin-top: 45px;
}


.hero-stats strong {

    display: block;

    font-size: 22px;
}


.hero-stats span {

    color: #666;

    font-size: 10px;
}



/* MARKET CARD */

.hero-right {

    display: flex;

    justify-content: center;
}


.money-card {

    width: 380px;

    padding: 30px;

    border-radius: 20px;

    background:
        linear-gradient(
            145deg,
            #1b160d,
            #0e0e0e
        );

    border: 1px solid #4c3818;

    box-shadow:
        0 30px 100px #000;
}


.card-top {

    display: flex;

    justify-content: space-between;

    color: #777;

    font-size: 9px;

    font-weight: 900;
}


.card-top span:last-child {
    color: #69ff8b;
}


.market-value {

    font-size: 90px;

    text-align: center;

    margin: 30px 0 5px;

    animation: float 3s ease-in-out infinite;
}


@keyframes float {

    50% {
        transform: translateY(-8px);
    }

}


.money-card h2 {

    text-align: center;

    font-size: 27px;
}


.money-card p {

    text-align: center;

    color: #777;

    font-size: 12px;

    margin-top: 5px;
}


.market-line {

    height: 1px;

    background: #292929;

    margin: 25px 0;
}


.market-info {

    display: flex;

    justify-content: space-between;

    color: #666;

    font-size: 11px;
}


.market-info strong {
    color: #ffb52d;
}



/* GENERAL SECTIONS */

section {

    max-width: 1250px;

    margin: auto;

    padding: 100px 6%;
}


.section-header {

    margin-bottom: 35px;
}


.section-label {

    display: block;

    color: #ff9d00;

    font-size: 10px;

    font-weight: 900;

    letter-spacing: 2px;

    margin-bottom: 7px;
}


.section-header h2,
.calculator-title h2 {

    font-size: 42px;

    letter-spacing: -2px;
}



/* METHODS */

.methods {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 15px;
}


.method {

    min-height: 255px;

    padding: 25px;

    border: 1px solid #252525;

    border-radius: 17px;

    background:
        linear-gradient(
            145deg,
            #141414,
            #0e0e0e
        );

    transition: .2s;
}


.method:hover {

    transform: translateY(-5px);

    border-color: #634515;
}


.method-icon {

    font-size: 38px;

    margin-bottom: 15px;
}


.method-tag {

    display: inline-block;

    padding: 5px 8px;

    border-radius: 5px;

    background: #181818;

    color: #888;

    font-size: 8px;

    font-weight: 900;
}


.method h3 {

    font-size: 20px;

    margin-top: 13px;
}


.method p {

    color: #777;

    font-size: 12px;

    line-height: 1.6;

    margin-top: 8px;
}



/* DATABASE */

.database-controls {

    display: flex;

    gap: 10px;

    margin-bottom: 20px;
}


.search-box {

    flex: 1;

    height: 50px;

    display: flex;

    align-items: center;

    gap: 10px;

    padding: 0 15px;

    border: 1px solid #292929;

    background: #111;

    border-radius: 10px;

    color: #666;
}


.search-box input {

    width: 100%;

    border: 0;

    outline: 0;

    background: transparent;

    color: white;

    font-size: 14px;
}


#sortSelect {

    padding: 0 15px;

    border: 1px solid #292929;

    border-radius: 10px;

    background: #111;

    color: #aaa;

    outline: none;
}


.table-container {

    overflow-x: auto;

    border: 1px solid #252525;

    border-radius: 15px;
}


table {

    width: 100%;

    border-collapse: collapse;

    min-width: 700px;
}


th {

    text-align: left;

    padding: 17px;

    color: #666;

    font-size: 9px;

    letter-spacing: 1px;

    background: #101010;
}


td {

    padding: 17px;

    border-top: 1px solid #222;

    font-size: 12px;
}


td:first-child {

    font-weight: 900;
}


.price {
    color: #aaa;
}


.profit-positive {

    color: #69ff8b;

    font-weight: 900;
}


.roi-value {

    color: #ffb52d;

    font-weight: 900;
}


.view-button {

    border: 1px solid #333;

    background: #151515;

    color: #aaa;

    border-radius: 7px;

    padding: 7px 10px;

    cursor: pointer;

    font-size: 10px;
}


.view-button:hover {

    border-color: #ff9d00;

    color: #ff9d00;
}



/* CALCULATOR */

.calculator-section {

    max-width: none;

    background:
        radial-gradient(
            circle at 50% 0%,
            #201605,
            #0b0b0b 45%
        );

    border-top: 1px solid #222;

    border-bottom: 1px solid #222;
}


.calculator-container {

    max-width: 1250px;

    margin: auto;

    padding: 0 6%;
}


.calculator-title p {

    color: #777;

    margin-top: 8px;
}


.calculator {

    margin-top: 35px;

    display: grid;

    grid-template-columns:
        repeat(3, 1fr)
        1.2fr;

    gap: 14px;
}


.input label {

    display: block;

    color: #777;

    font-size: 9px;

    font-weight: 900;

    margin-bottom: 7px;
}


.input-wrapper {

    height: 52px;

    display: flex;

    align-items: center;

    padding: 0 14px;

    background: #111;

    border: 1px solid #292929;

    border-radius: 10px;

    color: #666;
}


.input-wrapper input {

    width: 100%;

    padding-left: 8px;

    border: 0;

    outline: 0;

    background: transparent;

    color: white;
}


.input-wrapper:focus-within {

    border-color: #ff9d00;
}


.profit-box {

    padding: 17px 20px;

    border: 1px solid #5a3c10;

    border-radius: 12px;

    background: #1b1509;
}


.profit-box span {

    color: #9a855f;

    font-size: 9px;

    font-weight: 900;
}


.profit-box strong {

    display: block;

    color: #ffb52d;

    font-size: 29px;
}


.profit-box small {

    color: #69ff8b;

    font-size: 10px;

    font-weight: bold;
}



/* ADMIN */

.admin-warning {

    padding: 15px;

    border-radius: 10px;

    background: #1a1408;

    border: 1px solid #4b3613;

    color: #b49765;

    font-size: 11px;

    margin-bottom: 20px;
}


.admin-grid {

    display: grid;

    grid-template-columns:
        1fr 1fr;

    gap: 15px;
}


.admin-card {

    padding: 25px;

    background: #111;

    border: 1px solid #252525;

    border-radius: 15px;
}


.admin-card h3 {

    margin-bottom: 15px;
}


.admin-card p {

    color: #777;

    font-size: 12px;

    margin-bottom: 15px;
}


.admin-card input {

    width: 100%;

    height: 45px;

    padding: 0 12px;

    margin-bottom: 10px;

    border: 1px solid #292929;

    border-radius: 8px;

    outline: none;

    background: #080808;

    color: white;
}


.admin-button,
.reset-button {

    border: 0;

    padding: 11px 15px;

    border-radius: 8px;

    cursor: pointer;

    font-size: 11px;

    font-weight: 900;
}


.admin-button {

    background: #ff9d00;

    color: #111;
}


.reset-button {

    background: #221515;

    color: #ff7777;

    border: 1px solid #522525;
}


.admin-items {

    margin-top: 20px;

    padding: 25px;

    border: 1px solid #252525;

    border-radius: 15px;

    background: #101010;
}


.admin-items h3 {

    margin-bottom: 15px;
}


.admin-row {

    display: grid;

    grid-template-columns:
        1fr
        120px
        120px
        80px;

    gap: 10px;

    align-items: center;

    padding: 10px 0;

    border-bottom: 1px solid #222;
}


.admin-row:last-child {
    border-bottom: 0;
}


.admin-row input {

    width: 100%;

    padding: 8px;

    border: 1px solid #292929;

    border-radius: 6px;

    background: #080808;

    color: white;

    outline: none;
}


.delete-button {

    padding: 8px;

    border: 1px solid #4a2525;

    border-radius: 6px;

    background: #211111;

    color: #ff7777;

    cursor: pointer;
}



/* MODAL */

.modal {

    display: none;

    position: fixed;

    inset: 0;

    align-items: center;

    justify-content: center;

    z-index: 500;

    padding: 20px;
}


.modal.show {
    display: flex;
}


.modal-background {

    position: absolute;

    inset: 0;

    background: #000d;

    backdrop-filter: blur(8px);
}


.modal-content {

    position: relative;

    width: 100%;

    max-width: 550px;

    padding: 35px;

    background: #121212;

    border: 1px solid #333;

    border-radius: 18px;

    z-index: 2;
}


.close {

    position: absolute;

    top: 10px;

    right: 17px;

    border: 0;

    background: none;

    color: #777;

    font-size: 30px;

    cursor: pointer;
}


.modal-stat {

    display: flex;

    justify-content: space-between;

    padding: 15px;

    margin-top: 8px;

    border-radius: 8px;

    background: #181818;

    color: #888;
}


.modal-stat strong {
    color: #ffb52d;
}



/* FOOTER */

footer {

    padding: 40px 6%;

    border-top: 1px solid #222;

    display: flex;

    justify-content: space-between;

    color: #555;

    font-size: 10px;
}


.footer-brand {

    color: white;

    font-size: 18px;

    font-weight: 900;
}


.footer-brand span {
    color: #ff9d00;
}



/* MOBILE */

@media(max-width: 950px) {

    .hero {

        grid-template-columns: 1fr;
    }


    .hero-right {
        display: none;
    }


    .methods {

        grid-template-columns:
            repeat(2, 1fr);
    }


    .calculator {

        grid-template-columns:
            1fr 1fr;
    }


    .profit-box {

        grid-column: 1 / -1;
    }


    .admin-grid {

        grid-template-columns: 1fr;
    }

}


@media(max-width: 650px) {

    nav,
    .header-button {

        display: none;
    }


    section {

        padding: 70px 5%;
    }


    .hero {

        padding-top: 70px;
    }


    .hero h1 {

        font-size: 55px;

        letter-spacing: -4px;
    }


    .hero-buttons {

        flex-direction: column;
    }


    .hero-stats {

        gap: 25px;
    }


    .methods,
    .calculator {

        grid-template-columns: 1fr;
    }


    .profit-box {

        grid-column: auto;
    }


    .database-controls {

        flex-direction: column;
    }


    #sortSelect {

        height: 50px;
    }


    .admin-row {

        grid-template-columns: 1fr;
    }


    footer {

        flex-direction: column;

        gap: 10px;
    }

}